@import "tailwindcss";

:root {
  --color-primary: oklch(60.9% 0.126 221.723);
  --color-background: oklch(21% 0.034 264.665);
  --color-light-background: oklch(27.8% 0.033 256.848);
}

@theme inline {
  --font-sans: var(--font-public-sans, sans-serif);
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-light-background: var(--color-light-background);
}

body {
  @apply bg-background text-slate-400 font-sans;
  @apply min-h-screen min-w-full overflow-x-hidden;
}

html {
  @apply bg-background;
}
